.la-borosa__description {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;

  & div {
    padding: 50px 30px 0 30px;
    text-align: center;
  }

  & p {
    margin: 0;
    font-size: 12px;
    line-height: 22.5px;
    text-align: justify;

  }

  .la-borosa__triangle {
    position: relative;
    font-size: 0;

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background-color: #ffffff;
      display: block;
      transform: rotate(-45deg);
      right: 48%;
      top: -10px;
    }
  }
}

@media (min-width: $mobile-width) {
  .la-borosa {
    height: 400px;
  }

  .la-borosa__description {
    height: 400px;

    & div {
      padding: 50px 30px 0 30px;
    }
  }
}

@media (min-width: $tablet-width) {
  .la-borosa {
    height: 420px;
  }

  .la-borosa__description {
    height: 420px;
    align-content: space-between;

    & div {
      padding: 30px 30px 15px 30px;
    }
  }

  .la-borosa__image-big {
    position: relative;
    background-image: url("../img/2velo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 740px 465px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/la-boriosa-logo.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 86px 89px;
      width: 86px;
      height: 89px;
      top: 45%;
      left: 45%;
      z-index: 1;
      display: block;
    }
  }
}
