.page-footer {
  background-color: #f7f7f7;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: $tablet-width) {

  .page-footer {
    height: 185px;
  }
}

