.slider {
  background-color: #f7f7f7;
  height: 355px;
}

.slider__feedback {
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  padding-top: 90px;
  display: flex;
  justify-content: center;
}

.slider__autor {
  text-align: center;
}

.slider__text {
  text-align: center;
}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {

}
