.slider {
  background-color: #f7f7f7;
}

.slider__feedback {
  margin: 0 auto;
  padding: 30px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.slider__item {
  text-align: center;
}

@media (min-width: $mobile-width) {

}

@media (min-width: $tablet-width) {
  .slider {
    height: 355px;
  }

  .slider__feedback {
    width: 800px;
    padding-top: 90px;
  }
}

@media (min-width: $desktop-width) {

}
