.social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.social__link {
  margin-right: 15px;
}

.social__link {
  &:hover{
    opacity: 0.7;
  }
}

@media (min-width: $tablet-width) {
  .social-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
