.subscription {
  height: 280px;
}

.subscription__wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.subscription p {
  font-size: 17px;
  line-height: 24px;
  color: #848789;
  font-weight: 700;
}

.subscription input {
  border: #e8eaeb solid 2px;
  padding: 15px;
  height: 46px;
  width: 200px;
  box-sizing: border-box;

  &::placeholder {
    color: #929292;
  }
}

.subscription__btn {
  border: none;
  height: 46px;
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
  background-color: #64c29e;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (min-width: $tablet-width) {
  .subscription {
    height: 355px;
  }

  .subscription__wrapper {
    padding-top: 80px;
  }

  .subscription p {
    font-size: 18px;
    line-height: 25.5px;
  }

  .subscription input {
    padding: 15px;
    height: 52px;
    width: 300px;
  }

  .subscription__btn {
    height: 52px;
    padding-left: 33px;
    padding-right: 33px;
  }
}
